.navbar {
  display: block;
  width: 320px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

.navbar .container {
  display: block;
  width: 100%;
  height: 100%;
}

.navbar .button-menu {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: black;
  position: absolute;
  left: calc(100% + 15px);
  top: 15px;
  cursor: pointer;
}

.button-menu {
  animation: BtnAppearing 0.3s ease-out 0.5s;
  animation-fill-mode: backwards;
}

.navbar .button-menu:hover {
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.navbar .button-menu::before,
.navbar .button-menu > span,
.navbar .button-menu::after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background: #f0f0f0;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.navbar .button-menu:hover::before,
.navbar .button-menu:hover span,
.navbar .button-menu:hover::after {
  background: white;
}

.navbar .button-menu::before {
  top: calc(50% - 8px);
  transform-origin: transition-property top, transform;
}

.navbar .button-menu > span {
  top: 50%;
  transition-property: opacity;
}

.navbar .button-menu::after {
  top: calc(50% + 8px);
  transition-property: top, transform;
}

.navbar.active .button-menu > span {
  opacity: 0;
}

.navbar.active .button-menu::after {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.button-menu {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.show {
  display: block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
}

a img {
  width: 20px;
  height: 20px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

ul {
  text-align: left;
}

li img {
  margin-right: 10px;
}
