@import url(main-menu-button.css);

.container {
  position: fixed; /* fixed - будет виден в том числе при прокрутке страницы*/
  display: block;
  width: 175px;
}

.dropdown-menu-content {
  display: none;
  position: relative;
  margin-top: 30px;
  border-radius: 6px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.show {
  display: block;
}

.dropdown-menu-content a {
  border-radius: 6px;
  color: black;
  padding: 12px 14px;
  display: flex;
}

a img {
  width: 20px;
  height: 20px;
}

.dropdown-menu-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

ul {
  text-align: left;
}

li img {
  margin-right: 10px;
}
