@charset "UTF-8";
/*Сама кнопка главного меню*/
@import url(main-menu-button.css);
.main-menu-button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: black;
  position: relative;
  cursor: pointer;
}

.main-menu-button:hover {
  transform: scale(1.1);
  transition: all 0.2s ease;
}

/*Три белых полоски и их поведение при наведении мыши*/
.main-menu-button::before,
.main-menu-button > span,
.main-menu-button::after {
  content: "";
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background: lightgray;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.main-menu-button:hover::before,
.main-menu-button:hover span,
.main-menu-button:hover::after {
  background: white;
}

.main-menu-button::before {
  top: calc(50% - 8px);
  transform-origin: transition-property top, transform;
}

.main-menu-button > span {
  top: 50%;
  transition-property: opacity;
}

.main-menu-button::after {
  top: calc(50% + 8px);
  transition-property: top, transform;
}

.active .main-menu-button::after {
  opacity: 0;
}

.active .main-menu-button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.container {
  position: fixed;
  /* fixed - будет виден в том числе при прокрутке страницы*/
  display: block;
  width: 175px;
}

.dropdown-menu-content {
  display: none;
  position: relative;
  margin-top: 10px;
  border-radius: 6px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.show {
  display: block;
}

.dropdown-menu-content a {
  border-radius: 6px;
  color: black;
  padding: 12px 14px;
  display: flex;
}

a img {
  width: 20px;
  height: 20px;
}

a img:hover {
  background-color: #ddd;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

ul {
  text-align: left;
}

li img {
  margin-right: 10px;
}

.active .nav-menu .MenuLink {
  background-color: #a9a9a9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: 0;
  outline: 0;
}

body {
  background-color: #ccd7d8;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 20px;
}

header {
  height: 100px;
}
